scipy==1.6.1
seaborn==0.11.1
numpy==1.19.2
nltk==3.5
langdetect==1.0.8
pandas==1.2.3
spherecluster==0.1.7
gap_stat==2.0.1
pyclustering==0.10.1.2
hdbscan==0.8.27
scikit_posthocs==0.6.6
bcubed==1.5
gensim==3.8.3
powerlaw==1.4.6
matplotlib==3.3.4
